body {
    background-color: #E6F4F1;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}


.heading {
    text-align: center;
    font-size: 3rem;
}

/* --------- Game layout */
#quiz-box {
    background-color: #7B9CA8;
    height: 100%;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

#question {
    border-color: #082846;
    hyphens: auto;
}

.question-area {
    display: inline-block;
    border-radius: 25px;
    height: 30%;
    width: 50%;
    background-color: #b0d3df;
    font-size: 2.5rem;
    margin: 10px;
    padding: 50px 10px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

}

.flexbox-container {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.answer-option {
    width: 500px;
    line-height: 75px;
    margin: 10px;
    padding: 10px;
    background-color: #5A7A98;
    border-radius: 25px;
    border-color: #082846;
    vertical-align: middle;
    font-size: 1.5rem;
}

button {
    transition-duration: 0.4s;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  }
  
button:hover {
    background-color:rgb(229, 228, 226);
    color: black;
  }

  .scores {
    line-height: 10px;
  }

  #correct {
    color: green;
  }

  #incorrect {
    color: rgb(239, 96, 96);
  }

